#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.navegacao{
  display: flex;
  gap: 0.1rem;
  margin-top: 1rem;
  justify-content: space-between;
  & > input {
    visibility: hidden;
  }
  & > label {
    width: 30%;
    background-color: #1f1f1f;
    color: white;
    border-radius: 10px;
    padding: 0.5rem 0;
    border: none;
    cursor: pointer;
    font-size: 1.1rem;
    &:hover {
      background-color: #002;
    }
  }
}

.capa {
  max-width: 30rem;
  width: 100%;
  object-fit: cover;
}

.menu {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 35px;
  justify-content: space-between;
  margin-top: 50px;
}

.container-item-cardapio {
  display: flex;
  width: 31rem;
  padding: 1rem;
  justify-content: space-evenly;
  border-radius: 10px;
  box-shadow: -2px 2px 20px #002;
  & > img {
    height: 11rem;
  }
  & > div {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    flex-basis: 60%;
    flex-grow: 0;
    & > h2{
      font-weight: 600;
    }
  }
}

input:checked + label {
  box-shadow: 3px 2px 10px #002;
  background-color: #000050;
}